@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* TABLE OF CONTENTS///////////////////////////////
1. CSS RESET
2. GLOBAL STYLES
3. TYPOGRAPHY
4. HEADER
5. MAIN
    5.1. MAIN-HELLO
    5.2. MAIN-WORK
    5.3. MAIN-SERVICES
6. FORM
7. FOOTER
//////////////////////////////////////////////////*/
/*------------------1. CSS RESET------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------2. GLOBAL STYLES--------------*/

:root {
    --color-bg-headers-primary-purple: #5722CD;
    --color-bg-secondary-blue: #4845E4;
    --color-bg-light-grey: #F3F6F9;
    --color-primary-text-black: #0C0C0C;
    --color-secondary-text-grey: #7A7A7A;
    --color-large-headings-light-purple: #F2F0FF;
    --color-buttons-pink: #ED4385;

}

/*------------------3. TYPOGRAPHY-----------------*/

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-primary-text-black);
    font-size: 14px;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
}

button {
    color: #FFFFFF;
    background-color: var(--color-buttons-pink);
    border: 0.5rem solid var(--color-buttons-pink);
    border-radius: 3.5rem;
    font-size: 0.7rem;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Merriweather", serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    padding: 1rem;
}

h2 {
    font-size: 1.3rem;
    padding: 0.5rem;
    font-weight: 700;
    color: var(--color-bg-headers-primary-purple);
}

h4,
h5 {
    font-size: 1.3rem;
    font-weight: 700;
}

h5 {
    font-size: 1.1rem;
    color: var(--color-bg-headers-primary-purple);
}

a:link {
    color: var(--color-bg-headers-primary-purple);
    text-decoration: none;
}

a:hover {
    color: var(--color-bg-secondary-blue);
}

/*------------------4. HEADER---------------------*/

header {
    background: var(--color-bg-headers-primary-purple);
    background: linear-gradient(90deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 50%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 1.5rem 1.5rem 0 1.5rem;
    text-align: center;
    width: 100%;
    position: relative;
}

.header-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.navbar-items {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0 4rem;
    list-style: none;
}

nav a:link {
    color: #FFFFFF;
    font-weight: 300;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 6rem;
}

.header-p {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.5rem 0 1rem 0;
}

.header-image-wrapper {
    flex-basis: auto;
    position: absolute;
    bottom: 0;
}

.icon-wave-stripe {
    width: 80%;
}

.triangle-left {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 4rem solid #FFFFFF;
}

/*------------------5. MAIN-----------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}


/*------------------5.1. MAIN-HELLO---------------*/

.main-hello {
    width: 50%;
    padding: 8rem;
    text-align: center;
}

.main-hello-text {
    padding: 3rem 0 0 0;
}

/*------------------5.2. MAIN-WORK----------------*/

.main-work {
    background-color: var(--color-bg-light-grey);
}

.triangle-right {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-top: 4rem solid #FFFFFF;
}

.main-work-wrapper {
    padding: 6rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.main-work-article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 2rem;
}

.main-work-article:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.work-article-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    flex: 1 0 auto;
    max-width: 20%;
    padding: 0;
}

.work-article-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.icon-wave {
    width: 15%;
}

.link-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.link-wrapper hr {
    background-color: var(--color-bg-headers-primary-purple);
    width: 0.7rem;
    height: 1px;
    border: 0;
}

article a:link {
    font-weight: 600;
    font-size: 0.7rem;
}

.work-image-wrapper {
    flex: 0 1 40rem;
}

.work-image {
    width: 100%;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}

/*------------------5.3. MAIN-SERVICES------------*/

.main-services {
    width: 100%;
}

.services-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 12rem;
    gap: 2rem;
}

.services-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 2 0 30%;
    gap: 1rem;
    padding: 1.5rem;
    border: 1px solid var(--color-bg-headers-primary-purple);
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.services-icon-wrapper {
    flex: 1 1 1rem;
}

.services-icon {
    width: 3rem;
}

/*------------------6. FORM-----------------------*/


/*------------------7. FOOTER---------------------*/
footer {
     background-color: var(--color-primary-text-black);
     color: #FFFFFF;
     text-align: center;
     padding: 1.5rem;
 }

footer p {
    font-weight: 300;
}





